.hero{
    background-image: url('background.jpg'); 
	background-attachment: fixed;
	background-size: 100% 100%; 
}

.hero-body, .hero-head{
	background-color: rgba(0,0,0,0.5);
	color: white;
}

a{
	color: white
}

a:hover{
	color: #8f8fef
}

.title, .subtitle{
	color: white;
}

#company {
	position: absolute; /* The width is 100%, when the viewport is 800px or smaller */
	bottom: -30vh;
	text-align: left;
}

#project {
	position: absolute; /* The width is 100%, when the viewport is 800px or smaller */
	bottom: -30vh;
	right:0;
	text-align: right;
}

#resumelink{
	float: right;
}

#linkedinlink, #githublink{
	margin-left: 4rem
}


@media screen and (max-width: 700px), screen and (max-height: 400px){
	#project{
		padding-top: 2rem;
    	position: static; /* The width is 100%, when the viewport is 800px or smaller */
   		text-align: left;
  	}
	#company {
		padding-top: 2rem;
    	position: static; /* The width is 100%, when the viewport is 800px or smaller */
  	}
  	#space {
  		display: none;
  	}
  	.hero{
		background-size: auto 100%;
		background-position: center; 
	}
}

@media screen and (max-width: 400px){
	#resumelink, #linkedinlink, #githublink{
		float: none;
		margin-left: 2rem
	}
}


.slidingHorizontal span{
	animation: leftToRight 10s linear infinite 0s;
	-ms-animation: leftToRight 10s linear infinite 0s;
	-webkit-animation: leftToRight 10s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingHorizontal span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingHorizontal span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingHorizontal span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}


/*leftToRight Animation*/
@-moz-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateX(-50px); }
	10% { opacity: 1; -moz-transform: translateX(0px); }
	25% { opacity: 1; -moz-transform: translateX(0px); }
	30% { opacity: 0; -moz-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateX(-50px); }
	10% { opacity: 1; -webkit-transform: translateX(0px); }
	25% { opacity: 1; -webkit-transform: translateX(0px); }
	30% { opacity: 0; -webkit-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateX(-50px); }
	10% { opacity: 1; -ms-transform: translateX(0px); }
	25% { opacity: 1; -ms-transform: translateX(0px); }
	30% { opacity: 0; -ms-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
